.currenttemp {
  text-align: right;
  font-size: 50px;
  font-weight: 450;
  line-height: 1.5;
  display: inline;
}

.current-weather-img {
  margin: 10px 0 0 10px;
}

.units {
  position: relative;
  top: -24px;
  left: 2px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

a {
  font-weight: 250;
  text-decoration: none;
  color: black;
}
:hover a {
  color: rgb(197, 205, 212);
}
