.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Weatherapp {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.1px);
  -webkit-backdrop-filter: blur(14.1px);
  padding: 30px 20px 10px 20px;
  width: 500px;
  margin: 20px;
}

.searchbar-input {
  padding-left: 20px;
}
.searchbar-btn {
  padding-right: 20px;
  padding-left: 0px;
}

.Weatherapp h3,
ul {
  text-align: left;
  padding-left: 15px;
  margin: 2;
}

.Weatherapp h3 {
  font-size: 35px;
  font-weight: 600;
  padding-top: 30px;
  margin-bottom: 0px;
}

.Weatherapp ul {
  list-style: none;
  font-size: 15px;
  font-weight: 400;
}

.formatted-date {
  padding-bottom: 20px;
  font-weight: 600;
}

.temperaturedisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  padding-right: 20px;
}

.day-forecast {
  font-size: 14px;
  font-weight: 500;
}

.img-forecast {
  height: 58px;
  margin: 0;
}

.temp-forecast {
  font-size: 15px;
  font-weight: 500;
}

.forecast {
  text-align: center;
  padding-top: 25px;
}

.opensource-ref {
  margin-left: 30px;
  font-size: 15px;
}

.opensource-ref a {
  color: black;
  text-decoration: underline;
}
